<div class="form form-horizontal">
    <div class="form-group" *ngIf="order.createdAt">
        <div class="col-xs-6">
            <label>Дата создания</label>
            <span class="form-control-static">{{order.createdAt | date:'dd.MM.yyyy HH:mm'}}</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <label>Улица</label>
            <span class="form-control-static">{{order.street}}</span>
        </div>

        <div class="col-xs-3">
            <label>Дом</label>
            <span class="form-control-static">{{order.house}}</span>
        </div>

        <div class="col-xs-3">
            <label>Квартира</label>
            <span class="form-control-static">{{order.apart}}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-sm-6">
            <label>Имя</label>
            <span class="form-control-static">{{order.name}}</span>
        </div>
        <div class="col-xs-6 col-sm-3">
            <label>Телефон</label>
            <span class="form-control-static">{{order.phone}}</span>
        </div>
        <div class="col-xs-6 col-sm-3">
            <label>Email</label>
            <span class="form-control-static">{{order.email ? order.email : '-'}}</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <label>Примечание</label>
            <span class="form-control-static">{{order.note}}</span>
        </div>
    </div>
</div>