<a routerLink="/cart">
    <span class="ico glyphicon glyphicon-shopping-cart"></span>
    <span id="tiny-basket"></span>
    <span *ngIf="list.length <= 0; else showInBasket">Ваша корзина пуста</span>
    <ng-template #showInBasket>В корзине {{list.length}} {{list.length | ruPlural: ['товар', 'товара', 'товаров']}} на сумму {{getSumm()}} &#8381;</ng-template>
</a>