<ng-container *ngIf="!file">
    <input class="form-control" type="file" (change)="fileChange($event)"/>
</ng-container>
<ng-container *ngIf="file">
    <img *ngIf="isPicture();else isNotPicture" class="col-sm-2" [src]="file.url"/>
    <ng-template #isNotPicture>
        <div class="col-sm-4">
            <p class="form-control-static">{{file | json}}</p>
        </div>
    </ng-template>
    <div class="col-sm-1">
            <span class="glyphicon glyphicon-remove" (click)="removeFile()"></span>
    </div>
</ng-container>