<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Оформление заказа
        </h4>
    </div>
    <div class="panel-body">
        <form novalidate class="form form-horizontal" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <fieldset formGroupName="address">
                <div class="form-group">
                    <div class="col-xs-6"
                         [class.has-error]="street.invalid && (street.dirty || isSendTouched)"
                         [class.has-success]="street.valid && street.dirty">
                        <label>Улица</label>
                        <input type="text" class="form-control" formControlName="street">
                    </div>

                    <div class="col-xs-3"
                         [class.has-error]="house.invalid && (house.dirty || isSendTouched)"
                         [class.has-success]="house.valid && house.dirty">
                        <label>Дом</label>
                        <input type="text" class="form-control" formControlName="house">
                    </div>

                    <div class="col-xs-3"
                         [class.has-error]="apart.invalid && (apart.dirty || isSendTouched)"
                         [class.has-success]="apart.valid && apart.dirty">
                        <label>Квартира</label>
                        <input type="text" class="form-control" formControlName="apart">
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <div class="col-xs-12 col-sm-6"
                     [class.has-error]="name.invalid && (name.dirty || isSendTouched)"
                     [class.has-success]="name.valid && name.dirty">
                    <label>Имя</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="col-xs-6 col-sm-3"
                     [class.has-error]="phone.invalid && (phone.dirty || isSendTouched)"
                     [class.has-success]="phone.valid && phone.dirty">
                    <label>Телефон</label>
                    <input type="text" class="form-control" formControlName="phone" [textMask]="{mask: phoneMask, guide: false}">
                </div>
                <div class="col-xs-6 col-sm-3"
                     [class.has-error]="email.invalid && (email.dirty || isSendTouched)"
                     [class.has-success]="email.valid && email.dirty && email.value">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label>Примечание</label>
                    <textarea placeholder="Домофон, проезд" class="form-control" formControlName="note"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success" [style.opacity]="orderForm.valid ? 1 : 0.7">Оформить заказ</button>
        </form>
    </div>
</div>