<table class="table table-hover">
    <thead>
    <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.count}}</td>
        <td>{{item.sum}}</td>
    </tr>
    </tbody>
</table>