<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Товары в корзине
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="100px"></th>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th width="40px"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items">
                <td>
                    <span *ngIf="item.item.oPicture && item.item.oPicture.url">
                        <img width="100%" [src]="item.item.oPicture.url"/>
                    </span>
                </td>
                <td>{{item.item.name}}</td>
                <td>{{item.item.price}}</td>
                <td>
                    <i class="glyphicon glyphicon-minus text-primary" (click)="decrease.emit(item)"></i>
                    {{item.count}}
                    <i class="glyphicon glyphicon-plus text-primary" (click)="increase.emit(item)"></i>
                </td>
                <td>{{item.item.price*item.count}}</td>
                <td>
                    <i class="glyphicon glyphicon-remove text-danger" (click)="remove.emit(item)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <h4>Итого: {{getSum()}} &#8381;</h4>
    </div>
</div>
