<div *ngIf="!authService.user">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Login" [(ngModel)]="userLogin" name="userLogin">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Login" [(ngModel)]="userPassword" name="userPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p class="bg-danger" *ngIf="hasError">Неверный логин или пароль</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="authService.user">
    <form class="form-horizontal">
        <div class="form-group">
            <h3>Добро пожаловать, {{authService.user.name}}</h3>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="logout()">Logout</button>
            </div>
        </div>
    </form>
</div>