<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    Список товаров
                    <a class="btn btn-success btn-xs pull-right" routerLink="new">
                        <span class="ico glyphicon glyphicon-plus"></span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Стоимость</th>
                        <th width="100px">Картинка</th>
                        <th width="100px">Картинка детальная</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of list" [routerLink]="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                    <span *ngIf="item.oPicture && item.oPicture.url">
                        <img width="100%" [src]="item.oPicture.url"/>
                    </span>
                        </td>
                        <td>
                    <span *ngIf="item.oPictureDetail && item.oPictureDetail.url">
                        <img width="100%" [src]="item.oPictureDetail.url"/>
                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <app-pagination [totalCount]="totalCount" (change)="changedPaging($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>