.panel-body img {
    max-height: 300px;
}
.desc-text {
    height: 40px;
    overflow: hidden;
}
.item-count {
    width: 45px;
    text-align: center;
    display: inline-block;
    -moz-appearance: textfield;
}
.item-count::-webkit-outer-spin-button,
.item-count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}