<div class="row">
    <div class="col-sm-4 col-xs-12" *ngFor="let item of list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{item.name}}</h3>
            </div>
            <div class="panel-body">
                <p class="img">
                    <img *ngIf="item.oPicture" src="{{item.oPicture.url}}" class="img-responsive" alt="">
                </p>
                <p class="desc-text">
                    {{item.description}}
                </p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h4>{{item.price}} &#8381;</h4>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-6">
                        <ng-container *ngIf="item.countInBasket > 0; else notInBasket;">
                            <div class="pull-right">
                                <button type="button" class="btn add-pizza btn-success" (click)="subItem(item);">
                                    -
                                </button>
                                <input type="number" appInteger class="form-control item-count"
                                       [value]="item.countInBasket"
                                       (change)="setItemCount(item, +$event.target.value)"/>
                                <button type="button" class="btn add-pizza btn-success" (click)="addItem(item);">
                                    +
                                </button>
                            </div>
                        </ng-container>
                        <ng-template #notInBasket>
                            <button type="button" class="btn add-pizza btn-success pull-right" (click)="addItem(item);">
                                Добавить
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>