<div class="panel panel-default">
    <div class="panel-heading">
        <h4 *ngIf="item.id != null; else titleNew">Редактирование товара</h4>
        <ng-template #titleNew>
            <h4>Создание товара</h4>
        </ng-template>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" *ngIf="item">
            <div class="form-group">
                <label class="col-sm-2 control-label">id</label>
                <div class="col-sm-6">
                    <label class="form-control-static">{{item.id}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Название</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Название" [(ngModel)]="item.name"
                           name="item.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Стоимость</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" placeholder="Стоимость" [(ngModel)]="item.price"
                           name="item.price">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Описание</label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="Описание" [(ngModel)]="item.description"
                              name="item.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Картинка</label>
                <div class="col-sm-6">
                    <app-file-uploader
                            [file]="item.oPicture"
                            (fileChanged)="item.picture = $event.id; item.oPicture = $event"
                            (fileRemoved)="item.picture = item.oPicture = null"
                    ></app-file-uploader>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Картинка</label>
                <div class="col-sm-6">
                    <app-file-uploader
                            [file]="item.oPictureDetail"
                            (fileChanged)="item.picture_detail = $event.id; item.oPictureDetail = $event"
                            (fileRemoved)="item.picture_detail = null; item.oPictureDetail = null"
                    ></app-file-uploader>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-success" (click)="addItem()" *ngIf="item.id == null">Создать
                    </button>
                    <button type="submit" class="btn btn-success" (click)="saveItem()" *ngIf="item.id != null">
                        Сохранить
                    </button>
                    <button type="submit" class="btn btn-default" routerLink="../">Закрыть</button>
                    <button type="submit" class="btn btn-danger pull-right" (click)="deleteItem()"
                            *ngIf="item.id != null">Удалить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>