<div class="bs-docs-nav navbar">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a routerLink="/" class="navbar-brand">Пицца - Рисуница</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active">
                            <a routerLink="/catalog">Каталог</a>
                        </li>
                        <li *ngIf="authService.hasAccess('admin.view')" routerLinkActive="active">
                            <a routerLink="/admin/catalog">Администрирование</a>
                        </li>
                        <li *ngIf="this.authService.user == null; else linkLogout" routerLinkActive="active">
                            <a routerLink="/login">Авторизация</a>
                        </li>
                        <ng-template #linkLogout>
                            <li><a href="javascript:void(0);" (click)="logout()">Выход</a></li>
                        </ng-template>
                    </ul>
                    <div class="panel-body navbar-right">
                        <app-mini-basket></app-mini-basket>
                    </div>
                </div>
            </div>
        </nav>
        <app-bread-crumbs></app-bread-crumbs>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>