<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="./">Администрирование</a></li>
      <li routerLinkActive="active"><a routerLink="catalog">Каталог</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>