<ol class="breadcrumb" *ngIf="list.length > 0">
    <li *ngFor="let item of list; let i = index" [class.active]="i == list.length-1">
        <ng-container *ngIf="i != list.length-1; else activeBreadCrumb">
            <a (click)="goBack(i)">{{item}}</a>
        </ng-container>
        <ng-template #activeBreadCrumb>
            {{item}}
        </ng-template>
    </li>
</ol>