<ng-container *ngIf="!order && items.length > 0">
    <div class="row">
        <div class="col-lg-8">
            <app-cart-list [items]="items" (increase)="increase($event)" (decrease)="decrease($event)" (remove)="remove($event)"></app-cart-list>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <app-cart-order-form (addOrder)="addOrder($event)"></app-cart-order-form>
        </div>
    </div>
</ng-container>
<p *ngIf="!order && items.length == 0">Ваша корзина пуста</p>
<p *ngIf="order">
    Заказ №{{order.id}} оформлен!<br/>
    В ближайшее время с вами свяжется наш менеджер для уточнения заказа.<br/>
    Проверить статус заказа можно по <a [routerLink]="'/order/'+order.id+'/'+order.token">данной ссылке</a>
</p>