<ng-container *ngIf="order">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Заказ № {{order.id}}
            </h4>
        </div>
        <div class="panel-body">
            <app-order-view [order]="order"></app-order-view>
        </div>
        <div class="panel-footer">
            <h4>Итого: {{order.sum}} &#8381;</h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Состав заказа
            </h4>
        </div>
        <div class="panel-body">
            <app-order-item-view [items]="order.orderItems"></app-order-item-view>
        </div>
    </div>
</ng-container>
<p *ngIf="!order">Заказ не найден</p>